{% extends "base.html" %}

{% block title %} 
Test OAuth google
{% endblock  %}

{% block content %} 
<h1>Example google authentification</h1>
{% if not google_data %}
    <p>Tu n'es pas loggé. clic ci dessous pour log avec google</p>
    <a href="/google_login">google sign-in</a>
    {{ fetch_url }}
{% else %}
    <p> salut {{ google_data.name }}, [{{ google_data.email }} tu t'es enregistré avec succès avec ton compte google</p>

    {% if google_data is not none %}
        <p>infos utilisateurs récupérés de {{ fetch_url }}</p>
        {% for key, value in google_data.items() %}
            {{ key }}: {{ value }}
        {% endfor %}
    <a href="/google_logout">google logout</a>
    {% endif %}
{% endif %}

{% endblock  %} 