{% extends 'base.html' %}

{% block title %} 
    Login
{% endblock %}

{% block content %}
    <div class='container mt-5'>
        <h1> Log in </h1>
        <br>
        <form method="POST" class="form-connect">
            {{ form.hidden_tag() }}
            
            {{ form.email.label() }}
            {{ form.email(placeholder="exemple@exemple.com", class="form-control",id="login_email") }}
            <br>
            {{ form.password.label() }}
            {{ form.password(placeholder="***********", class="form-control",id="login_pasword") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-primary d-block", id="button-connect")}}
            <br>
        </form>
        <br>
        <a href="{{ url_for('auth.google_login') }}">S'authentifier avec google</a>
    </div>  
{% endblock %}