{% extends "base.html" %}

{% block title %} 
Sign up
{% endblock  %} 

{% block content %}

<div class='container mt-5'>
    <h1> Sign-up </h1>
    <br>
    <form method="POST" class="form-connect">
        {{ form.hidden_tag() }}
        
        {{ form.email.label() }}
        {{ form.email(placeholder="exemple@exemple.com", class="form-control",id="signup_email") }}
        <br>
        {{ form.name.label() }}
        {{ form.name(placeholder="Jean Dupont", class="form-control",id="signup_name") }}
        <br>
        {{ form.password.label() }}
        {{ form.password(placeholder="***********", class="form-control",id="signup_password") }}
        <br>
        {{ form.confirm_password.label() }}
        {{ form.confirm_password(placeholder="***********", class="form-control", id="signup_confirm_password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-primary d-block", id="button_signup")}}
        <br>
    </form>
    <br>
</div>  

{% endblock %}